# Notes

This assignment is devoted to `pandas`. It covers indexing and filtering, and some `groupby` and `join` operations. The assignment roughly corresponds to Week 4 and the beginning of Week 5 of the course.

The main dataset you'll be using is [Titanic](https://www.kaggle.com/c/titanic).

In [2]:
%pylab inline
plt.style.use("bmh")

Populating the interactive namespace from numpy and matplotlib

In [3]:
plt.rcParams["figure.figsize"] = (6,6)

In [4]:
import numpy as np
import pandas as pd

In [4]:
STUDENT = "Avshalom  Manevich"
ASSIGNMENT = 4
TEST = False

In [5]:
if TEST:
    import solutions
    total_grade = 0
    MAX_POINTS = 16

# Indexing and filtering

### 1. Fixing age (1 point).

There are several known mistakes in the Titanic dataset.

Namely, [Julia Florence Siegel](https://www.encyclopedia-titanica.org/titanic-survivor/julia-florence-cavendish.html) (Mrs. Tyrell William Cavendish) is mistakenly marked as being 76 years old (the age she actually died, but many years after Titanic).

You must replace age value for her with her actual age at the time (25) and return the dataset. Input is indexed with `PassengerId` and is a concatenation of train and test sets. You must return a copy of the dataframe, and not perform replacement in original dataframe. Structure and indexing must be the same as in input.

In [5]:
def fix_age(df):
    df_c = df.copy(deep = True)
    idx, = df_c[df_c['Name'].str.contains("Julia Florence Siegel")].index
    df_c.loc[idx, "Age"] = 25
    return df_c

titanic_train = pd.read_csv("titanic/train.csv", index_col="PassengerId")
titanic_test = pd.read_csv("titanic/test.csv", index_col="PassengerId")
titanic = pd.concat([titanic_train, titanic_test], sort=False)
# df_c = fix_age(titanic)
titanic[titanic['Name'].str.contains("Julia Florence Siegel")]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
988,NaN,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.0,1,0,19877,78.85,C46,S

In [ ]:
PROBLEM_ID = 1

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, fix_age)

### 2. Embarkment port distribution (1 point).

You must find the value counts for embarkment port (`Embarked` column) for the passengers, who travelled in 3-d class, were male and between 20 and 30 years old (both inclusive). No need to treat missing values separately.

Input is indexed with `PassengerId` and is a concatenation of train and test sets. You must return series, indexed with values from `Embarked`, according to `.value_counts()` method semantics.

In [80]:
def embarked_stats(df):
    return df[(df['Pclass'] == 3) & (df['Sex'] == 'male') & (df['Age'] >= 20) & (df['Age'] <= 30)].Embarked.value_counts()

embarked_stats(titanic)

S    132
C     21
Q      7
Name: Embarked, dtype: int64

In [75]:
PROBLEM_ID = 2

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, embarked_stats)

### 3. Fill missing age values (1 point).

Some age values are missing in the Titanic dataset. You need to calculate average age, and fill missing age values in `Age` column.

Input is indexed with `PassengerId` and is a concatenation of train and test sets. Output must be a **new** dataframe with the same structure, but without missing values in `Age` column.

In [33]:
def fix_age(df):
    df = df.copy(deep = True)
    mean_age = df.Age.mean()
    df.loc[df.Age.isnull(), 'Age'] = mean_age
    return df

fix_age(titanic)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
3,1.0,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
5,0.0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S
6,0.0,3,"Moran, Mr. James",male,29.881138,0,0,330877,8.4583,NaN,Q
7,0.0,1,"McCarthy, Mr. Timothy J",male,54.000000,0,0,17463,51.8625,E46,S
8,0.0,3,"Palsson, Master. Gosta Leonard",male,2.000000,3,1,349909,21.0750,NaN,S
9,1.0,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.000000,0,2,347742,11.1333,NaN,S
10,1.0,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.000000,1,0,237736,30.0708,NaN,C
11,1.0,3,"Sandstrom, Miss. Marguerite Rut",female,4.000000,1,1,PP 9549,16.7000,G6,S
12,1.0,1,"Bonnell, Miss. Elizabeth",female,58.000000,0,0,113783,26.5500,C103,S
13,0.0,3,"Saundercock, Mr. William Henry",male,20.000000,0,0,A/5. 2151,8.0500,NaN,S
14,0.0,3,"Andersson, Mr. Anders Johan",male,39.000000,1,5,347082,31.2750,NaN,S
15,0.0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.000000,0,0,350406,7.8542,NaN,S
16,1.0,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.000000,0,0,248706,16.0000,NaN,S
17,0.0,3,"Rice, Master. Eugene",male,2.000000,4,1,382652,29.1250,NaN,Q
18,1.0,2,"Williams, Mr. Charles Eugene",male,29.881138,0,0,244373,13.0000,NaN,S
19,0.0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.000000,1,0,345763,18.0000,NaN,S
20,1.0,3,"Masselmani, Mrs. Fatima",female,29.881138,0,0,2649,7.2250,NaN,C
21,0.0,2,"Fynney, Mr. Joseph J",male,35.000000,0,0,239865,26.0000,NaN,S
22,1.0,2,"Beesley, Mr. Lawrence",male,34.000000,0,0,248698,13.0000,D56,S
23,1.0,3,"McGowan, Miss. Anna ""Annie""",female,15.000000,0,0,330923,8.0292,NaN,Q
24,1.0,1,"Sloper, Mr. William Thompson",male,28.000000,0,0,113788,35.5000,A6,S
25,0.0,3,"Palsson, Miss. Torborg Danira",female,8.000000,3,1,349909,21.0750,NaN,S
26,1.0,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.000000,1,5,347077,31.3875,NaN,S
27,0.0,3,"Emir, Mr. Farred Chehab",male,29.881138,0,0,2631,7.2250,NaN,C
28,0.0,1,"Fortune, Mr. Charles Alexander",male,19.000000,3,2,19950,263.0000,C23 C25 C27,S
29,1.0,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,29.881138,0,0,330959,7.8792,NaN,Q
30,0.0,3,"Todoroff, Mr. Lalio",male,29.881138,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
1280,NaN,3,"Canavan, Mr. Patrick",male,21.000000,0,0,364858,7.7500,NaN,Q
1281,NaN,3,"Palsson, Master. Paul Folke",male,6.000000,3,1,349909,21.0750,NaN,S
1282,NaN,1,"Payne, Mr. Vivian Ponsonby",male,23.000000,0,0,12749,93.5000,B24,S
1283,NaN,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.000000,0,1,PC 17592,39.4000,D28,S
1284,NaN,3,"Abbott, Master. Eugene Joseph",male,13.000000,0,2,C.A. 2673,20.2500,NaN,S
1285,NaN,2,"Gilbert, Mr. William",male,47.000000,0,0,C.A. 30769,10.5000,NaN,S
1286,NaN,3,"Kink-Heilmann, Mr. Anton",male,29.000000,3,1,315153,22.0250,NaN,S
1287,NaN,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.000000,1,0,13695,60.0000,C31,S
1288,NaN,3,"Colbert, Mr. Patrick",male,24.000000,0,0,371109,7.2500,NaN,Q
1289,NaN,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.000000,1,1,13567,79.2000,B41,C
1290,NaN,3,"Larsson-Rondberg, Mr. Edvard A",male,22.000000,0,0,347065,7.7750,NaN,S
1291,NaN,3,"Conlon, Mr. Thomas Henry",male,31.000000,0,0,21332,7.7333,NaN,Q
1292,NaN,1,"Bonnell, Miss. Caroline",female,30.000000,0,0,36928,164.8667,C7,S
1293,NaN,2,"Gale, Mr. Harry",male,38.000000,1,0,28664,21.0000,NaN,S
1294,NaN,1,"Gibson, Miss. Dorothy Winifred",female,22.000000,0,1,112378,59.4000,NaN,C
1295,NaN,1,"Carrau, Mr. Jose Pedro",male,17.000000,0,0,113059,47.1000,NaN,S
1296,NaN,1,"Frauenthal, Mr. Isaac Gerald",male,43.000000,1,0,17765,27.7208,D40,C
1297,NaN,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.000000,0,0,SC/PARIS 2166,13.8625,D38,C
1298,NaN,2,"Ware, Mr. William Jeffery",male,23.000000,1,0,28666,10.5000,NaN,S
1299,NaN,1,"Widener, Mr. George Dunton",male,50.000000,1,1,113503,211.5000,C80,C
1300,NaN,3,"Riordan, Miss. Johanna Hannah""""",female,29.881138,0,0,334915,7.7208,NaN,Q
1301,NaN,3,"Peacock, Miss. Treasteall",female,3.000000,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
1302,NaN,3,"Naughton, Miss. Hannah",female,29.881138,0,0,365237,7.7500,NaN,Q
1303,NaN,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.000000,1,0,19928,90.0000,C78,Q
1304,NaN,3,"Henriksson, Miss. Jenny Lovisa",female,28.000000,0,0,347086,7.7750,NaN,S
1305,NaN,3,"Spector, Mr. Woolf",male,29.881138,0,0,A.5. 3236,8.0500,NaN,S
1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.000000,0,0,PC 17758,108.9000,C105,C
1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.500000,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1308,NaN,3,"Ware, Mr. Frederick",male,29.881138,0,0,359309,8.0500,NaN,S
1309,NaN,3,"Peter, Master. Michael J",male,29.881138,1,1,2668,22.3583,NaN,C

In [ ]:
PROBLEM_ID = 3

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, fix_age)

### 4. Child travelling alone (1 point).

You must find a child (`Age<10`) on-board, who was travelling without siblings or parents and find a name of her nursemaid.

Input is indexed with `PassengerId` and is a concatenation of train and test sets. Output must be a tuple of two strings, collected from `Name` column, with one being child's name and second being nursemaid's name. It's known, that there's only one child like this.

In [134]:
def get_nursemaid(df):
    child_name_ticket = df.loc[(df['Age'] < 10) & (df['Parch'] == 0), ['Name', 'Ticket']]
    maid_name = df[(df['Ticket'] == child_name_ticket['Ticket'].values[0]) & (df['Age'] > 10)].Name
    return (child_name_ticket['Name'].values[0], maid_name.values[0])

get_nursemaid(titanic)

('Emanuel, Miss. Virginia Ethel', 'Dowdell, Miss. Elizabeth')

In [ ]:
PROBLEM_ID = 4

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, get_nursemaid)

### 5. Port with the most children embarked (1 point).

You must find, which port had the largest percentage of children (`Age<10`) embarked, i.e. number of children divided by total number of passengers embarked.

Input is indexed with `PassengerId` and is a concatenation of train and test sets. Output must be a single string with port letter.

In [170]:
def get_port(df):
    counts = df.groupby(['Embarked']).size()
    ratio = df[df['Age'] < 10].groupby(['Embarked']).size() / counts
    return ratio.idxmax()

print(get_port(titanic))

S

In [ ]:
PROBLEM_ID = 5

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, get_port)

### 6. Passengers per ticket (2 points).

Calculate average and maximum number of passengers per ticket.

Input is indexed with `PassengerId` and is a concatenation of train and test sets. Output must be a tuple of two values.

In [196]:
def get_ticket_stats(df):
    counts = df['Ticket'].value_counts()
#     print(counts)
    return (counts.mean(), counts.max())

get_ticket_stats(titanic)

CA. 2343              11
1601                   8
CA 2144                8
347077                 7
347082                 7
S.O.C. 14879           7
PC 17608               7
3101295                7
382652                 6
19950                  6
113781                 6
347088                 6
220845                 5
PC 17757               5
16966                  5
4133                   5
W./C. 6608             5
113503                 5
349909                 5
24160                  4
PC 17755               4
12749                  4
36928                  4
W./C. 6607             4
17421                  4
PC 17760               4
SC/Paris 2123          4
C.A. 2315              4
LINE                   4
PC 17483               4
                      ..
STON/O2. 3101282       1
2664                   1
242963                 1
A./5. 2152             1
C.A. 18723             1
113800                 1
STON/O 2. 3101280      1
2652                   1
SC/PARIS 2149          1
349225                 1
C.A./SOTON 34068       1
7935                   1
244360                 1
113051                 1
373450                 1
S.O./P.P. 251          1
349243                 1
368323                 1
9234                   1
C.A. 42795             1
SC/PARIS 2159          1
244346                 1
A/4. 34244             1
SOTON/O.Q. 3101311     1
28034                  1
112050                 1
C.A. 34260             1
364500                 1
315152                 1
2693                   1
Name: Ticket, Length: 929, dtype: int64

(1.4090419806243273, 11)

In [ ]:
PROBLEM_ID = 6

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, get_ticket_stats)

### 7. Fare per passenger (3 points).

For each individual ticket, you must calculate fare per person for that ticket, and then calculate averages for each class. Note, that you will need to apply `groupby` and then you may consider using `.first()` of resulting `DataFrameGroupBy`.

Input is indexed with `PassengerId` and is a concatenation of train and test sets. Output must be `Series` with three elements, indexed by class.

In [314]:
def get_fare_per_pass(df):
#     print(df[df['Ticket'] == '110152']['Fare'])
    df = df[['Ticket','Pclass', 'Fare']].groupby(['Pclass','Ticket']).apply(lambda x: x['Fare'] / len(x.index) )
    df = df.to_frame()
    df = df.groupby('Pclass').mean().squeeze()
    return df

# get_fare_per_pass(titanic)

In [ ]:
PROBLEM_ID = 7

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, get_fare_per_pass)

### 8. Fill missing age values (3 points).

In problem 3 you filled missing age values with average for all passengers. Now, you need to fill them according to class and sex. For example, for a female passenger from 2d class, missing age value must be filled with average age of females in 2d class.

In this problem, you may need joins and `.apply()`, although there are several ways to get the same result.

Input is indexed with `PassengerId` and is a concatenation of train and test sets. Output must be a **new** dataframe with the same structure as input, but without missing values in `Age` column.

In [78]:
def fix_age_groupped(df):
    df = df.copy()
    grouped = df.groupby(['Pclass', 'Sex'])
    means = grouped['Age'].mean().to_frame()
    for index, row in means.iterrows():
        c, sex = index
        age = row.values[0]
        df.loc[(df['Pclass'] == c) & (df['Sex'] == sex) & (df['Age'].isnull()), 'Age'] = age
    return df
# fix_age_groupped(titanic)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
3,1.0,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
5,0.0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S
6,0.0,3,"Moran, Mr. James",male,25.962264,0,0,330877,8.4583,NaN,Q
7,0.0,1,"McCarthy, Mr. Timothy J",male,54.000000,0,0,17463,51.8625,E46,S
8,0.0,3,"Palsson, Master. Gosta Leonard",male,2.000000,3,1,349909,21.0750,NaN,S
9,1.0,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.000000,0,2,347742,11.1333,NaN,S
10,1.0,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.000000,1,0,237736,30.0708,NaN,C
11,1.0,3,"Sandstrom, Miss. Marguerite Rut",female,4.000000,1,1,PP 9549,16.7000,G6,S
12,1.0,1,"Bonnell, Miss. Elizabeth",female,58.000000,0,0,113783,26.5500,C103,S
13,0.0,3,"Saundercock, Mr. William Henry",male,20.000000,0,0,A/5. 2151,8.0500,NaN,S
14,0.0,3,"Andersson, Mr. Anders Johan",male,39.000000,1,5,347082,31.2750,NaN,S
15,0.0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.000000,0,0,350406,7.8542,NaN,S
16,1.0,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.000000,0,0,248706,16.0000,NaN,S
17,0.0,3,"Rice, Master. Eugene",male,2.000000,4,1,382652,29.1250,NaN,Q
18,1.0,2,"Williams, Mr. Charles Eugene",male,30.815380,0,0,244373,13.0000,NaN,S
19,0.0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.000000,1,0,345763,18.0000,NaN,S
20,1.0,3,"Masselmani, Mrs. Fatima",female,22.185329,0,0,2649,7.2250,NaN,C
21,0.0,2,"Fynney, Mr. Joseph J",male,35.000000,0,0,239865,26.0000,NaN,S
22,1.0,2,"Beesley, Mr. Lawrence",male,34.000000,0,0,248698,13.0000,D56,S
23,1.0,3,"McGowan, Miss. Anna ""Annie""",female,15.000000,0,0,330923,8.0292,NaN,Q
24,1.0,1,"Sloper, Mr. William Thompson",male,28.000000,0,0,113788,35.5000,A6,S
25,0.0,3,"Palsson, Miss. Torborg Danira",female,8.000000,3,1,349909,21.0750,NaN,S
26,1.0,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.000000,1,5,347077,31.3875,NaN,S
27,0.0,3,"Emir, Mr. Farred Chehab",male,25.962264,0,0,2631,7.2250,NaN,C
28,0.0,1,"Fortune, Mr. Charles Alexander",male,19.000000,3,2,19950,263.0000,C23 C25 C27,S
29,1.0,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,22.185329,0,0,330959,7.8792,NaN,Q
30,0.0,3,"Todoroff, Mr. Lalio",male,25.962264,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
1280,NaN,3,"Canavan, Mr. Patrick",male,21.000000,0,0,364858,7.7500,NaN,Q
1281,NaN,3,"Palsson, Master. Paul Folke",male,6.000000,3,1,349909,21.0750,NaN,S
1282,NaN,1,"Payne, Mr. Vivian Ponsonby",male,23.000000,0,0,12749,93.5000,B24,S
1283,NaN,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.000000,0,1,PC 17592,39.4000,D28,S
1284,NaN,3,"Abbott, Master. Eugene Joseph",male,13.000000,0,2,C.A. 2673,20.2500,NaN,S
1285,NaN,2,"Gilbert, Mr. William",male,47.000000,0,0,C.A. 30769,10.5000,NaN,S
1286,NaN,3,"Kink-Heilmann, Mr. Anton",male,29.000000,3,1,315153,22.0250,NaN,S
1287,NaN,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.000000,1,0,13695,60.0000,C31,S
1288,NaN,3,"Colbert, Mr. Patrick",male,24.000000,0,0,371109,7.2500,NaN,Q
1289,NaN,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.000000,1,1,13567,79.2000,B41,C
1290,NaN,3,"Larsson-Rondberg, Mr. Edvard A",male,22.000000,0,0,347065,7.7750,NaN,S
1291,NaN,3,"Conlon, Mr. Thomas Henry",male,31.000000,0,0,21332,7.7333,NaN,Q
1292,NaN,1,"Bonnell, Miss. Caroline",female,30.000000,0,0,36928,164.8667,C7,S
1293,NaN,2,"Gale, Mr. Harry",male,38.000000,1,0,28664,21.0000,NaN,S
1294,NaN,1,"Gibson, Miss. Dorothy Winifred",female,22.000000,0,1,112378,59.4000,NaN,C
1295,NaN,1,"Carrau, Mr. Jose Pedro",male,17.000000,0,0,113059,47.1000,NaN,S
1296,NaN,1,"Frauenthal, Mr. Isaac Gerald",male,43.000000,1,0,17765,27.7208,D40,C
1297,NaN,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.000000,0,0,SC/PARIS 2166,13.8625,D38,C
1298,NaN,2,"Ware, Mr. William Jeffery",male,23.000000,1,0,28666,10.5000,NaN,S
1299,NaN,1,"Widener, Mr. George Dunton",male,50.000000,1,1,113503,211.5000,C80,C
1300,NaN,3,"Riordan, Miss. Johanna Hannah""""",female,22.185329,0,0,334915,7.7208,NaN,Q
1301,NaN,3,"Peacock, Miss. Treasteall",female,3.000000,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
1302,NaN,3,"Naughton, Miss. Hannah",female,22.185329,0,0,365237,7.7500,NaN,Q
1303,NaN,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.000000,1,0,19928,90.0000,C78,Q
1304,NaN,3,"Henriksson, Miss. Jenny Lovisa",female,28.000000,0,0,347086,7.7750,NaN,S
1305,NaN,3,"Spector, Mr. Woolf",male,25.962264,0,0,A.5. 3236,8.0500,NaN,S
1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.000000,0,0,PC 17758,108.9000,C105,C
1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.500000,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1308,NaN,3,"Ware, Mr. Frederick",male,25.962264,0,0,359309,8.0500,NaN,S
1309,NaN,3,"Peter, Master. Michael J",male,25.962264,1,1,2668,22.3583,NaN,C

In [ ]:
PROBLEM_ID = 8

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, fix_age_groupped)

### 9. Finding couples (3 points).

Based on the code from Lecture 5, build a dataframe of couples. Filter it by survival status: select those couples, in which only one of spouses survived or none of two. Built survival statistics by class, i.e. ratio of couples with partial survival divided by total number of couples in class.

Input is indexed with `PassengerId` and is a concatenation of train and test sets. Output must be `Series` with three elements indexed by values from `Pclass` column.

In [25]:
def find_couples(df):
    df = df.copy()
    df = df[(df['SibSp'] == 1) & (df['Parch'] == 0)].sort_values(by=['Ticket'])
#     df.groupby(['Ticket']).apply(lambda x: x.Name)
    df = df.replace(re.compile(r'\s+\(.*\)'), '').replace(re.compile("Mrs."), "Mr.")
    family_names = df[(df.Sex=="female") & df.Name.str.contains("Mr.")]
    family_names = family_names.reset_index().set_index("Name")
    print(family_names['PassengerId'])
    return df

find_couples(titanic)

Name
Warren, Mr. Frank Manley                       367
Marvin, Mr. Daniel Warner                     1074
Pears, Mr. Thomas                              152
Holverson, Mr. Alexander Oskar                 384
Futrelle, Mr. Jacques Heath                      4
Chambers, Mr. Norman Campbell                  810
Turpin, Mr. William John Robert                 42
Kimball, Mr. Edwin Nelson Jr                   936
Harder, Mr. George Achilles                   1256
Stengel, Mr. Charles Emil Henry                992
Bishop, Mr. Dickinson H                        292
Schabert, Mr. Paul                            1014
Hogeboom, Mr. John C                           766
Silvey, Mr. William Baird                      578
Clark, Mr. Walter Miller                      1164
Smith, Mr. Lucien Philip                      1287
Goldenberg, Mr. Samuel L                       850
Kenyon, Mr. Frederick R                        458
Dick, Mr. Albert Adrian                        782
Cavendish, Mr. Tyrell William                  988
Minahan, Mr. William Edward                   1303
Hoyt, Mr. Frederick Maxfield                   487
Taylor, Mr. Elmer Zebley                       670
Clarke, Mr. Charles V                          427
Snyder, Mr. John Pillsbury                     904
Angle, Mr. William A                           519
Weisz, Mr. Leopold                             134
Nasser, Mr. Nicholas                            10
Howard, Mr. Benjamin                          1105
Carter, Mr. Ernest Courtenay                   855
                                              ...
Dyker, Mr. Adolf Fredrik                       982
Arnold-Franchi, Mr. Josef                       50
Lindell, Mr. Edvard Bengtsson                 1251
Hansen, Mr. Claus Peter                       1201
Wilkes, Mr. James                              893
Stephenson, Mr. Walter Bertram                 592
Harris, Mr. Henry Birkhardt                    231
O'Brien, Mr. Thomas                            187
Thorneycroft, Mr. Percival                     432
McNamee, Mr. Neal                             1275
Davison, Mr. Thomas Henry                      348
Ahlin, Mr. Johan                                41
Lobb, Mr. William Arthur                       618
Robins, Mr. Alexander A                        133
Abelson, Mr. Samuel                            875
Straus, Mr. Isidor                            1006
Spencer, Mr. William Augustus                   32
Harper, Mr. Henry Sleeper                       53
Cumings, Mr. John Bradley                        2
Rothschild, Mr. Martin                         514
Meyer, Mr. Edgar Joseph                        376
Frauenthal, Mr. Henry William                  335
Astor, Mr. John Jacob                          701
Penasco y Castellana, Mr. Victor de Satode     308
Douglas, Mr. Walter Donald                    1131
Chapman, Mr. John Henry                       1011
Louch, Mr. Charles Alexander                   433
del Carlo, Mr. Sebastiano                      907
Hakkarainen, Mr. Pekka Pietari                 143
Chaffee, Mr. Herbert Fuller                    906
Name: PassengerId, Length: 69, dtype: int64

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1128,NaN,1,"Warren, Mr. Frank Manley",male,64.0,1,0,110813,75.2500,D37,C
367,1.0,1,"Warren, Mr. Frank Manley",female,60.0,1,0,110813,75.2500,D37,C
1074,NaN,1,"Marvin, Mr. Daniel Warner",female,18.0,1,0,113773,53.1000,D30,S
749,0.0,1,"Marvin, Mr. Daniel Warner",male,19.0,1,0,113773,53.1000,D30,S
152,1.0,1,"Pears, Mr. Thomas",female,22.0,1,0,113776,66.6000,C2,S
337,0.0,1,"Pears, Mr. Thomas Clinton",male,29.0,1,0,113776,66.6000,C2,S
36,0.0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S
384,1.0,1,"Holverson, Mr. Alexander Oskar",female,35.0,1,0,113789,52.0000,NaN,S
138,0.0,1,"Futrelle, Mr. Jacques Heath",male,37.0,1,0,113803,53.1000,C123,S
4,1.0,1,"Futrelle, Mr. Jacques Heath",female,35.0,1,0,113803,53.1000,C123,S
810,1.0,1,"Chambers, Mr. Norman Campbell",female,33.0,1,0,113806,53.1000,E8,S
725,1.0,1,"Chambers, Mr. Norman Campbell",male,27.0,1,0,113806,53.1000,E8,S
42,0.0,2,"Turpin, Mr. William John Robert",female,27.0,1,0,11668,21.0000,NaN,S
118,0.0,2,"Turpin, Mr. William John Robert",male,29.0,1,0,11668,21.0000,NaN,S
622,1.0,1,"Kimball, Mr. Edwin Nelson Jr",male,42.0,1,0,11753,52.5542,D19,S
936,NaN,1,"Kimball, Mr. Edwin Nelson Jr",female,45.0,1,0,11753,52.5542,D19,S
557,1.0,1,"Duff Gordon, Lady.",female,48.0,1,0,11755,39.6000,A16,C
371,1.0,1,"Harder, Mr. George Achilles",male,25.0,1,0,11765,55.4417,E50,C
1256,NaN,1,"Harder, Mr. George Achilles",female,25.0,1,0,11765,55.4417,E50,C
1069,NaN,1,"Stengel, Mr. Charles Emil Henry",male,54.0,1,0,11778,55.4417,C116,C
992,NaN,1,"Stengel, Mr. Charles Emil Henry",female,43.0,1,0,11778,55.4417,C116,C
292,1.0,1,"Bishop, Mr. Dickinson H",female,19.0,1,0,11967,91.0792,B49,C
485,1.0,1,"Bishop, Mr. Dickinson H",male,25.0,1,0,11967,91.0792,B49,C
1014,NaN,1,"Schabert, Mr. Paul",female,35.0,1,0,13236,57.7500,C28,C
926,NaN,1,"Mock, Mr. Philipp Edmund",male,30.0,1,0,13236,57.7500,C78,C
276,1.0,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S
766,1.0,1,"Hogeboom, Mr. John C",female,51.0,1,0,13502,77.9583,D11,S
435,0.0,1,"Silvey, Mr. William Baird",male,50.0,1,0,13507,55.9000,E44,S
578,1.0,1,"Silvey, Mr. William Baird",female,39.0,1,0,13507,55.9000,E44,S
1164,NaN,1,"Clark, Mr. Walter Miller",female,26.0,1,0,13508,136.7792,C89,C
...,...,...,...,...,...,...,...,...,...,...,...
646,1.0,1,"Harper, Mr. Henry Sleeper",male,48.0,1,0,PC 17572,76.7292,D33,C
53,1.0,1,"Harper, Mr. Henry Sleeper",female,49.0,1,0,PC 17572,76.7292,D33,C
2,1.0,1,"Cumings, Mr. John Bradley",female,38.0,1,0,PC 17599,71.2833,C85,C
1126,NaN,1,"Cumings, Mr. John Bradley",male,39.0,1,0,PC 17599,71.2833,C85,C
514,1.0,1,"Rothschild, Mr. Martin",female,54.0,1,0,PC 17603,59.4000,NaN,C
912,NaN,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C
376,1.0,1,"Meyer, Mr. Edgar Joseph",female,NaN,1,0,PC 17604,82.1708,NaN,C
35,0.0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C
335,1.0,1,"Frauenthal, Mr. Henry William",female,NaN,1,0,PC 17611,133.6500,NaN,S
701,1.0,1,"Astor, Mr. John Jacob",female,18.0,1,0,PC 17757,227.5250,C62 C64,C
1094,NaN,1,"Astor, Col. John Jacob",male,47.0,1,0,PC 17757,227.5250,C62 C64,C
506,0.0,1,"Penasco y Castellana, Mr. Victor de Satode",male,18.0,1,0,PC 17758,108.9000,C65,C
308,1.0,1,"Penasco y Castellana, Mr. Victor de Satode",female,17.0,1,0,PC 17758,108.9000,C65,C
545,0.0,1,"Douglas, Mr. Walter Donald",male,50.0,1,0,PC 17761,106.4250,C86,C
1131,NaN,1,"Douglas, Mr. Walter Donald",female,48.0,1,0,PC 17761,106.4250,C86,C
595,0.0,2,"Chapman, Mr. John Henry",male,37.0,1,0,SC/AH 29037,26.0000,NaN,S
1011,NaN,2,"Chapman, Mr. John Henry",female,29.0,1,0,SC/AH 29037,26.0000,NaN,S
433,1.0,2,"Louch, Mr. Charles Alexander",female,42.0,1,0,SC/AH 3085,26.0000,NaN,S
922,NaN,2,"Louch, Mr. Charles Alexander",male,50.0,1,0,SC/AH 3085,26.0000,NaN,S
1112,NaN,2,"Duran y More, Miss. Florentina",female,30.0,1,0,SC/PARIS 2148,13.8583,NaN,C
867,1.0,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
362,0.0,2,"del Carlo, Mr. Sebastiano",male,29.0,1,0,SC/PARIS 2167,27.7208,NaN,C
907,NaN,2,"del Carlo, Mr. Sebastiano",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
665,1.0,3,"Lindqvist, Mr. Eino William",male,20.0,1,0,STON/O 2. 3101285,7.9250,NaN,S
910,NaN,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
730,0.0,3,"Ilmakangas, Miss. Pieta Sofia",female,25.0,1,0,STON/O2. 3101271,7.9250,NaN,S
143,1.0,3,"Hakkarainen, Mr. Pekka Pietari",female,24.0,1,0,STON/O2. 3101279,15.8500,NaN,S
404,0.0,3,"Hakkarainen, Mr. Pekka Pietari",male,28.0,1,0,STON/O2. 3101279,15.8500,NaN,S
93,0.0,1,"Chaffee, Mr. Herbert Fuller",male,46.0,1,0,W.E.P. 5734,61.1750,E31,S
906,NaN,1,"Chaffee, Mr. Herbert Fuller",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S

In [ ]:
PROBLEM_ID = 8

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, find_couples)